# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# logs
*.log
